div id="#{chartname}" width="#{width}" height="#{height}"
javascript:
  $('##{chartname}').highcharts({
      chart: {
          type: 'column',
          backgroundColor: '#ffffff'
      },
      title: {
          text: '#{chartname} Win Rates'
      },
      subtitle: {
          text: 'Source: HearthStats.net'
      },
      xAxis: {
        categories: #{raw railsdata[1]}, 
          title: {
              text: null
          }
      },
      yAxis: {
          min: 0,
          max: 100,
          title: {
              text: 'Win %',
          },
          labels: {
              overflow: 'justify'
          }
      },
      tooltip: {
          valueSuffix: '%'
      },
      plotOptions: {
          column: {
                colorByPoint: true
              },
          bar: {
              dataLabels: {
                  enabled: true
              }
          }
      },
      legend: {
        enabled: false
      },
      credits: {
        enabled: false
      },
      series: [{
          name: '#{chartname}',
          data: #{railsdata[0].to_json},
      }],
      colors: [
        '#FF7D0A',
        '#ABD473',
        '#69CCF0',
        '#F58CBA',
        '#999999',
        '#f1c40f',
        '#0070DE',
        '#9482C9',
        '#A57A4D'
      ]
  });
