<% set_meta_tags :title => 'Edit Profile',
  :description => 'Edit User Profile',
  :keywords => "edit, profile, personal, statistics, hearthstats, hst" %>
  
<h1>Editing User Profile</h1>

<%= render 'form' %>