- set_meta_tags :title => 'Tournament Sign Up',
  :description => 'Sign up for new Hearthstats tournaments',
  :keywords => 'register, tournament, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, 'Sign Up')
- provide(:subtitle, ' Register for our newest tournaments/leagues')
- provide(:section, 'Tournaments')

h2 TBA