- set_meta_tags :title => 'Tournament Sign Up',
  :description => 'Sign up for new Hearthstats tournaments',
  :keywords => 'register, tournament, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, t('.title'))
- provide(:subtitle, t('.subtitle'))

- provide(:section, t('.section'))

h2 TBA