/* Custom css*/
/*Splash required css*/
.main{
	height: 100%;
}
.main #splash{
	height: 100%;
	background: url('/assets/report_pic/marbg.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.page1 .global{
	margin-left: 40px;
	margin-right: 40px;
}
.hsstats .usercount{
	font-size: 100px;
}
.hsstats .users{
	font-size: 30px;
}
.hsstats .donate{
	padding-bottom: 20px;
}
.hsstats .joinus{
	font-size: 20px;
}
.hsstats .smile{
	font-size: 200px;
}
.hsstats .contribute{
	padding: 20px;
}
.hsstats .fa-globe{
	padding-top: 30px;
	font-size: 300px;
	margin-bottom: 117px;
}
.regbutton{
	font-size: 30px;
}
.page4{
	/*background-color: #3498db;*/
}
.page5{
	background-color: #3498db;
}
.page_container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.page_container h2{
	letter-spacing: 6px;
	padding-bottom: 10px;
	padding-top: 30px;
	margin-top: 0;
}
/* Make the tables responsive */
.report-table{
	width: 60%;
}
.arena-win-rates{
	margin: auto;
	border-collapse: collapse;
	border-style: hidden;
}
.arena-win-rates td, .arena-win-rate th {
	padding: 20px;
	border: 1px solid white;
}

/* HTML from Bootstrap */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body, html {
	padding: 0;
	margin: 0;
  	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* Arena Win Count */
	.run-percent{
		font-size: 12px;
	}

/* Main Style */
body {
	color: #fff;
	background: #f8d135;
}

a, a:visited {

	text-decoration: none;
}

a:hover, a:active {
	color: #333;
}

h1, h2, h3 {
	font-family: 'Roboto',Arial,sans-serif;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
}

h2 {
	font-size: 1.5em;
	font-weight: 300;
}

h3 {
	font-size: 1.2em;
	font-weight: 400;
}

/* dec_header Style */
.container .dec_header {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container .dec_header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding-bottom: 0.6em;
}

/* To Navigation Style */
.nav-top {
  margin-bottom: 0;
  z-index: 10;
	position: fixed;
	top: 0;
	background: #fff;
	background: rgba(127, 140, 141,0.8);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.65em;
	line-height: 2.6;
	height: 36px;
}

.nav-top a {
	padding: 0 0.4em 0 0.4em;
	letter-spacing: 0.1em;
	color: #444;
	display: inline-block;
}

.nav-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.nav-social {
	float: left;
	padding: 5px 0.6em 0 0.6em;
}

.nav-social span {
	margin-right: 0.5em;
}

.nav-top span.right {
	float: right;
}

.nav-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons */
.menu {
	display: block;
	text-align: center;
	padding: 2em 0;
	margin-bottom: 3em;
}
.menu a {
	border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: 1em;
    line-height: 100%;
    margin: 0 5px;
    padding: 0.7em;
    text-decoration: none;
    opacity: 0.7;
}

.menu a.active, .menu a:hover {
	opacity: 1;
}

/* Responsive */
@media screen and (max-width: 25em) {
	.nav-icon span { display: none; }
}
/* Custom Stylesheet */
body, html {
      margin: 0;
      -webkit-font-smoothing: antialiased;
      background:#555;
      text-align: center;
      /*overflow: hidden;*/
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      transition: opacity 400ms;
}
/*
body, .main, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left;
}*/

body .dec_header{
  color: #ecf0f1;
}

.main p {
  color: #ecf0f1;
  font-size: 16px;
  /*font-weight: 100;*/
}

.nav-top a {
  color: #ecf0f1;
}

/* ALL DEMO */
h1 {
  color: #ecf0f1;
}

.main {
  /*margin-top: -36px;*/
}

.menu, .dec_header {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.main section.page1 {
	background-color: #ecf0f1;
	color: black !important;
}

.main section.page1 .page_container {
	padding-top: 20px;
}

.main section.page1 .page_container h1 {
  letter-spacing: -1px;
  font-weight: 100;
  font-size: 40px;
}

.main section.page1 .page_container p{
  line-height: 160%;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255,255,255,0.5);
}

.main section.page2 {
	background-color: #0F1113;
}
.main section.page3 {
  background: #008867;
}


.main section.page2 .page_container h1 {
  letter-spacing: -1px;
  font-weight: 100;
  font-size: 70px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}


.main section.page2 .page_container p{
  line-height: 160%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(0,0,0,0.5);
}

body .dec_header h1 {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body .nav-top span.right a {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body.viewing-page-2 .dec_header h1, body.viewing-page-2 .nav-top span.right a {
  color: black;
}

.main section.page3 .page_container h1 {
  letter-spacing: -1px;
  font-weight: 100;
  font-size: 70px;
}

body, html {
  margin: 0;
  /*overflow: hidden;*/
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}
.tracking{
	margin-top: 84px;
}
.tracking .auto{
	font-size: 30px;
}

.tracking a{
	color: #f1c40f;
}
.tracking .download{
	font-size: 60px;
}

.tracking a:hover {
	color: #f39c12;
}

.tracking .disclaimer{
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.hsinfo{
	padding-right: 40px;
}

/* Go To Top */

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.hsstats{
	margin-right: 20px;
	margin-left: 20px;
}
/*Patch number*/
#splash{
	position: relative;
}

#splash .patch{
	padding: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

/*Class Colors*/

.Druid {
  background-color: #FF7D0A;
}

.Hunter {
  background-color: #ABD473;
}

.Mage {
  background-color: #69CCF0;
}

.Paladin {
  background-color: #F58CBA;
}

.Priest {
  background-color: #999999;
}

.Rogue {
  background-color: #f1c40f;
}

.Shaman {
  background-color: #0070DE;
}

.Warlock {
  background-color: #9482C9;
}

.Warrior {
  background-color: #C79C6E;
}
.nav-right{
	padding-right: 20px;
}

.hover{
	background-color: rgba(189, 195, 199,0.2);
}