/*-----------------------------------------------------------------------------------*/
/* 1. GLOBAL STYLES
/*-----------------------------------------------------------------------------------*/

html{
  height: 100%;
}
body {
  font-family: 'Quicksand';
  background-color: #f7fafd;
  height: 100%;
}

#main, #sidebar{
  margin: 0;
  padding: 0;
}

a {color:#000;}
a:hover {color:#333333;}
a:link,a:visited,a:active {outline:0;}

h3 {
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 20px;
}
p {
	font-size: 13px;
	line-height: 25px;
	font-weight:400;
	color:#666;
  font-family: 'Open Sans', sans-serif;
}
.orange{
  color: #F27F45;
}

.center{text-align:center;}
.center-block{margin: auto; display: block;width: 100px;}
.no-padding {padding:0px;}
.space10 {margin-bottom:10px;}
.space15 {margin-bottom:15px;}
.space20 {margin-bottom:20px;}
.space25 {margin-bottom:25px;}
.space30 {margin-bottom:30px;}
.space35 {margin-bottom:35px;}
.space40 {margin-bottom:40px;}
.space50 {margin-bottom:50px;}
.space60 {margin-bottom:60px;}
.space70 {margin-bottom:70px;}
.space80 {margin-bottom:80px;}
.space90 {margin-bottom:90px;}

/*-----------------------------------------------------------------------------------*/
/* 2. HEADER STYLES
/*-----------------------------------------------------------------------------------*/

.logo-cont{
}
.header-logo{
  margin-bottom: 8px;
  height: 50px;
}

.top-bar {
	background: #212121;
  height: 37px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .nav-bar{
    padding-top: 20px;
  }
  .header-logo{
    display: block;
    margin: auto;
  }
  .top-bar {display: none;margin:0;}

}

/* 2a. Nav Menu
======================*/

.nav-bar{
  height: 100%;
  margin-top: 0px !important;
  background-color: #30353B;
  font-weight: 700;

}
.top-nav {
  margin: 5px 0;
	display:table;
	float:right;
}

.top-nav li {
	float:left;
  font-size: 14px;
  padding: 10px;
}

.top-nav li a {
	color:#fff;
}

.select-menu {
	display: none;
	background: none;
	padding: none;
	border:none;
}

.mobile-only {display: none;}
@media (max-width: 767px) {
  .top-nav li {
    margin:20px 15px 5px;
  }

.top-nav { display: none;margin:0;}
.mobile-only {display: inherit;}

.select-menu {
  display: block;
  background: #000;
  width: 85%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #252525;
  height: 34px;
  margin:22px auto;
  color:#fff !important;
  font-family:Open Sans,Arial;
}
}

/* 2b. Social icons
===================== */

.top-social {
  margin: 0;
	display:table;
	float:left;
}

.top-social li {
	color:#000;
	float:left;
	margin-left:5px;
	margin-top:7.5px;
	background:#444;
	width:22px;
	height:22px;
	border-radius:50%;
	text-align:center;
	overflow:hidden;
	position: relative;
	line-height: 21px;
}

.top-social li a{
	color:#000;
	font-size:12px;
  padding: 4px 5px 0 !important;
  line-height: 0 !important;
}

.top-social li:hover a{
	color:#fff;
	font-size:12px;
}

.top-tweet:hover {background:#3fbcef !important;}
.top-fb:hover {background:#314396!important;}
.top-gplus:hover {background:#D34836!important;}
.top-dribble:hover {background:#ed6c9e!important;}
.top-skype:hover {background:#00a8ec!important;}

/*-----------------------------------------------------------------------------------*/
/* 3. Global Stats
/*-----------------------------------------------------------------------------------*/

#global-stats{
  padding:60px 0 60px 0;
}

/* 3a. Win Rate Table
===================== */

.top-wr {
  text-align: center;
}
.wr {
  margin: auto;
  border: none;
  font-weight: 500;
}
.wr tr{
  background-color: none;
}
.wr-wr {
  color: #F27F45;
}
.wr-graph-container {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
}

.wr-graph-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}
/*-----------------------------------------------------------------------------------*/
/* 4. DECKLIST STYLES
/*-----------------------------------------------------------------------------------*/
#decklists{
  padding:60px 0 60px 0;
  background-color: #CDD1D4;
  -webkit-box-shadow: 0 10px 6px -6px #777, inset 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777, inset 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777, inset 0 10px 6px -6px #777;
}
.arrow{
  background-color: #F27F45;
  width: 35px;
  height: 20px;
  text-align: center;
}
.arrow-icon {
  color: white;
}

/* 4a. Decklist Toggle
===================== */

.etabs{
  background-color: #AFB2B7;
  padding: 5px;
  margin-bottom: 0;
}
.tab {
  padding: 5px 10px 5px 10px;
  display: inline-block;
}
.tab a {
  color: white;

}
.tab.active {
  background-color: #24292D;
}

.all-decks-arrow-icon {
  color: #24292D;
}
.all-decks{
  margin-right: 20px;
  color: #F27F45;
  font-weight: 700;
  font-size: 16px;
  float: right;
}

/*-----------------------------------------------------------------------------------*/
/* 5. STREAMS STYLES
/*-----------------------------------------------------------------------------------*/

#streams {
  padding:60px 0 60px 0;
}
.stream-screenshot img{
  width: 100%;
  margin-bottom: 10px;
}
.stream-name{
  font-size: 23px;
}
.stream-viewers{
  text-align: right;
}
.stream-view{
  text-align: right;
  font-weight: 700;
}
@media (max-width: 767px) {
  .stream-description{
    float: left;
  }
  .live-details{
    float: right;
  }
  .stream-view{
    margin-top: 8px;
  }
}
/*-----------------------------------------------------------------------------------*/
/* 6. SIDEBAR
/*-----------------------------------------------------------------------------------*/

#sidebar{
  background: #212121;
  height: 100%;
}

/*-----------------------------------------------------------------------------------*/
/* 12. OTHER STYLES
/*-----------------------------------------------------------------------------------*/

.content-head {
	margin:0 0 60px;
}

.content-head h2 {
	font-weight:500;
	font-size:25px;
	text-align:center;
	text-transform:uppercase;
	color:#a5a5a5;
	font-family: 'Quicksand' , Sans-serif;
}

.line {
	background:#aaa;
	height:1px;
	width:17%;
	margin: 0 auto;
}

#wrap3 {
	padding:85px 0 0px;
}

#wrap3 h3 {
	text-align:center;
	font-size:20px;
	margin:0px 0px 15px;
	text-transform:uppercase;
	color:#a5a5a5;
	font-family: 'Quicksand';
	font-weight:300;
}

.cblue { color:#00a8ec;}

/*-----------------------------------------------------------------------------------*/
/* 14. FOOTER STYLES
/*-----------------------------------------------------------------------------------*/

.footer {
	background:#30353B;
	padding:15px 0 10px;
}

.footer-logo{
  display: block;
  width: 200px;
  margin: auto;
}

.footer p {
	margin:0px;
	color:#565B62;
	font-size:15px;
	text-align:center;
}

.footer p span, .footer p a {
	color:#fff;
	font-weight:700;
}

/*-----------------------------------------------------------------------------------*/
/* 15. PAGE STYLES
/*-----------------------------------------------------------------------------------*/

.page-head{
	background:url(/images/bg.jpg) no-repeat center;
	padding:40px 0;
}

.page-head h4 {
	color:#fff;
	font-size:30px;
	font-weight:400;
	text-align:center;
	margin:0px 0px 10px;
}

.page-head p {
	color:#fff;
	font-size:16px;
	margin:0px;
	text-align:center;
}

.page-content {
	padding:75px 0;
}

.page-img {
	padding:5px;
	border:1px solid #d2d2d2;
}

.page-content h3 {
	margin:0px 0px 25px 0px;
	font-weight:600;
	font-size:30px;
}

.page-content p {
	font-size:14px;
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

.top-social {margin-top: -60px;}
.top-content h3 {font-size:30px;}
.top-content p {display:none;}
.services-info {margin-bottom:25px;}
.pricing1 {width:100%;float:none;top:0px;border-right:1px solid #d2d2d2;margin-bottom:40px;}
.pricing2 {width:100%;float:none;top:0px;margin-bottom:40px;}
.pricing3 {width:100%;float:none;top:0px;border-right:1px solid #d2d2d2;}
.team-main {width:260px !important;margin:0 auto 25px;}
.mb-nop {padding:0px !important;}

}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 479px) {

.top-content form {width: 280px;margin:25px auto;}
.top-content input {width: 120px;}
.top-content form a {width: 118px;}

}