<html>
  <head>
    <title>Ad Test</title>
    <script type='text/javascript'>
      (function() {
        var useSSL = 'https:' == document.location.protocol;
        var src = (useSSL ? 'https:' : 'http:') +
            '//www.googletagservices.com/tag/js/gpt.js';
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
      })();
    </script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/42580283/728x90', [728, 90], 'div-gpt-ad-1429807340690-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().enableSyncRendering();
        googletag.enableServices();
      });
    </script>
  </head>

  <body>
    <h1>Ads!</h1>
    <h2>DFP</h2>
    <h3>728x90</h3>
    <!-- /42580283/728x90 -->
    <div id='div-gpt-ad-1429807340690-0' style='height:90px; width:728px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1429807340690-0'); });
    </script>
    </div>

    <h2>Adsense</h2>
    <h3>728x90</h3>
    <%= render "advertisement/ad728x90" %>
    <h3>300x250</h3>
    <%= render "advertisement/ad300x250" %>

    <h2>Waypoint</h2>
    <h3>728x90</h3>
    <iframe src="//ib.adnxs.com/tt?id=2248883&referrer=hss.io" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" allowtransparency="true" width="728" height="90"></iframe>
    <h3>300x250</h3>
    <iframe src="//ib.adnxs.com/tt?id=2248887&referrer=hss.io" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" allowtransparency="true" width="300" height="250"></iframe>
  </body>
</html>