.top-cont{
	background: image-url('novbg.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.top-advvv{
  float: right;
  display: inline-block;

}
.background-adtext{
  float: right;
  display: inline-block;
}

