.class-name {
	font-size: 20px;
}
.arena-detail{
	display: inline-block;
	padding: 10px;
	margin: 5px;
	text-align: center;
	border: 1px solid #eee;
}
.arena-detail-title{
	border-bottom: 1px solid grey;
	margin-bottom: 3px;
}
.detail-title{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.bold{
	padding-left: 5px;
}