.quick_con_entry{
	.quick_input{
		margin: 0 10px 0 0;
	}
}
.new_arena{
	width: 100%;
	margin: auto;
}
.arenaruntitle{
	margin-top: -50px;
	padding-top: 20px;
}
.arenaendrun{
	display: none;
}
.retirebut{
	color: white !important;
}
.arenarunend{
  input[type=number]{
    height: 50px;
    width: 100%;
    max-width: 300px;
    font-size: 20px;
  }
  label{
    font-size: 38px;
    margin-bottom: 20px;
  }
}
.runit{
  margin-top: 30px;
  font-size: 35px !important;
  i{
    font-size: 30px !important;
  }
}

.arena_notes{
	margin-bottom: 20px;
	h3{
		margin-top: 0;
	}
}

.arenaedit_notes{
	margin: auto;
	margin-top: 40px;
	width: 70%
}
