.quick_con_entry{
  .quick_input{
    margin: 0 10px 0 0;
  }
}
.new_arena{
  width: 100%;
  margin: auto;
}
.arena_text{
  width: 100%;
}
.arenaruntitle{
  margin-top: -50px;
  padding-top: 20px;
}
.arenaendrun{
  display: none;
}
.retirebut{
  color: white !important;
}
.arena_notes{
  margin-bottom: 20px;
  h3{
    margin-top: 0;
  }
}

.arenaedit_notes{
  margin: auto;
  margin-top: 40px;
  width: 70%
}

#new_arena_run .selectboxit-container > span,
#new_arena_run .selectboxit-container > span > span {
  height: 60px; /* Height of the drop down */
  line-height: 60px; /* Vertically positions the drop down text */
}
/* Height and Vertical Alignment of Text */
#arena_run_userclassSelectBoxItContainer .selectboxit-options {

    /* Set's the drop down options width to the same width as the drop down button */
    width: 150px;
}
