.quick_con_entry{
	.quick_input{
		margin: 0 10px 0 0;
	}
}
.new_arena{
	width: 300px;
	margin: auto;
}
.arenaruntitle{
	margin-top: -50px;
	padding-top: 20px;
}
.arenaendrun{
	display: none;
}
.retirebut{
	color: white !important;
}