.new_constructed .field {
  whitespace:no-wrap; 
  margin-bottom:1em;
  font-size:28px;
}
.new_constructed .field .ddlabel {
  font-size:21px !important;
}
.new_constructed .field label {
  font-size:1em;
  display:block;
}
.gofirstfield .coin,
.gofirstfield .ranked,
.gofirstfield .winbutton {
	padding-bottom:1em;
}
.con_notes{
	margin-bottom: 30px;
	margin-right:20px;
}

/* Height and Vertical Alignment of Text */
#deckname_0SelectBoxItContainer .selectboxit-options {

    /* Set's the drop down options width to the same width as the drop down button */
    width: 210px;
}
#new_constructed .selectboxit-container > span, 
#new_constructed .selectboxit-container > span > span { 
  height: 60px; /* Height of the drop down */
  line-height: 60px; /* Vertically positions the drop down text */
}