.new_constructed .field {
  whitespace:no-wrap;
  margin-bottom:1em;
  font-size:28px;
}
.new_constructed .field .ddlabel {
  font-size:21px !important;
}
.new_constructed .field label {
  font-size:1em;
  display:block;
}
.gofirstfield .coin,
.gofirstfield .ranked,
.gofirstfield .winbutton {
  padding-bottom:1em;
}
.con_notes{
  margin-bottom: 30px;
  margin-right:20px;
}


.yourfield .selectboxit-container > span,
.yourfield .selectboxit-container > span > span,
.oppfield .selectboxit-container > span,
.oppfield .selectboxit-container > span > span {
  height: 60px; /* Height of the drop down */
  line-height: 60px; /* Vertically positions the drop down text */
}

#statsFilter .selectboxit-container * {
  font-size: 13px;
}
.quick_con_entry #decknameSelectBoxIt {
  max-width:210px !important;
}

/* Height and Vertical Alignment of Text */
.quick_con_entry .selectboxit-container span,
.quick_con_entry .selectboxit-container .selectboxit-options a {
  height: 34px; /* Height of the drop down */
  line-height: 34px; /* Vertically positions the drop down text */
}

#match_oppclass_idSelectBoxIt {
  width:150px !important;
}

.quick_con_entry #decknameSelectBoxItContainer {
  margin-right:10px;
}

.quick_con_entry .btn,
.quick_con_entry #match_oppclass_idSelectBoxItContainer {
  margin: 0 5px;
}

// Edit button styling
.not-selected{
  zoom: 1;
  opacity: 0.55;
  filter: alpha(opacity=55);
}
