.new_constructed .field {
  whitespace:no-wrap; 
  margin-bottom:1em;
  font-size:28px;
}
.new_constructed .field .ddlabel {
  font-size:21px !important;
}
.new_constructed .field label {
  font-size:1em;
  display:block;
}
.gofirstfield .coin,
.gofirstfield .ranked,
.gofirstfield .winbutton {
	padding-bottom:1em;
}
.con_notes{
	margin-bottom: 30px;
	margin-right:20px;
}

.yourfield #deckname_0SelectBoxIt,
.yourfield #deckname_0SelectBoxItContainer,
.yourfield #deckname_0SelectBoxItContainer .selectboxit-options,
.yourfield #deckname_0SelectBoxItContainer .selectboxit-options .selectboxit-option,
.oppfield #constructed_oppclassSelectBoxIt,
.oppfield #constructed_oppclassSelectBoxItContainer,
.oppfield #constructed_oppclassSelectBoxItContainer .selectboxit-options,
.oppfield #constructed_oppclassSelectBoxItContainer .selectboxit-options .selectboxit-option {
    /* Set's the drop down options width to the same width as the drop down button */
    width: 210px !important;
    min-width:210px !important;
}


.yourfield .selectboxit-container > span, 
.yourfield .selectboxit-container > span > span, 
.oppfield .selectboxit-container > span, 
.oppfield .selectboxit-container > span > span { 
  height: 60px; /* Height of the drop down */
  line-height: 60px; /* Vertically positions the drop down text */
}

#statsFilter .selectboxit-container * {
  font-size: 13px;
}
.quickentry #deckname_0SelectBoxIt {
  max-width:210px !important; 
}
 
/* Height and Vertical Alignment of Text */
.quickentry .selectboxit-container span, 
.quickentry .selectboxit-container .selectboxit-options a {
  height: 34px; /* Height of the drop down */
  line-height: 34px; /* Vertically positions the drop down text */
}

/* Height and Vertical Alignment of Text */
.quickentry #deckname_0SelectBoxItContainer .selectboxit-options,
.quickentry #constructed_oppclassSelectBoxItContainer .selectboxit-options {
    /* Set's the drop down options width to the same width as the drop down button */
    width: 100px !important;
}

.quick_con_entry #deckname_0SelectBoxItContainer {
  margin-right:10px; 
}

.quickentry .btn,
.quick_con_entry #constructed_oppclassSelectBoxItContainer {
  margin: 0 5px;
}
