.label-1{
  background-color: #3cc051;
  background-image: none !important;
}
.label-2{
  background-color: #ed4e2a;
  background-image: none !important;
}
.label-3{
  background-color: #fcb322;
  background-image: none !important;
}
#twitter-widget-0{
  width: 100% !important;
}
#winrate-by-time{
  width: 500px;
  height: 200px;
}
.live-graph{
  height: 200px;
  width: 700px;
  background-color: white;
}
