.label-1{
  background-color: #3cc051;
  background-image: none !important;
}
.label-2{
  background-color: #ed4e2a;
  background-image: none !important;
}
.label-3{
  background-color: #fcb322;
  background-image: none !important;
}
#twitter-widget-0{
  width: 100% !important;
}
#winrate-by-time{
  width: 90%;
  height: 200px;
  margin: auto;
}
.global-stats{
  margin-left: 0px;
}
.live-graph #class-wr{
  width: 100%;
  min-width: 600px;
  margin: auto;
}
.global-stats-title{
  text-align: center;
  margin-bottom: 10px;
}