.label-1{
  background-color: #3cc051;
  background-image: none !important;
}
.label-2{
  background-color: #ed4e2a;
  background-image: none !important;
}
.label-3{
  background-color: #fcb322;
  background-image: none !important;
}
