.deckform{
	label{
    font-size: 38px;
    margin-bottom: 20px;
  }
	.deckname{
		height: 50px;
		width: 100%;
		max-width: 300px;
		font-size: 20px;
	}
	.actions{
		margin-top: 30px;
	}
}
.decklink{
	width: 100%;
	max-width: 400px;
}

.notesfield{
	margin-top: 30px;
	width: 60%;
	display: inline-block;
	text-align: left;
}

.deck_title{
	display: inline-block;
}
.winrates{
	display: inline-block;
	margin-right: 10px;
	border: 1px #eee solid;
	padding: 5px;
}
.deck-notes{
	p{
		word-wrap: break-word;
	}
}
.oppfield #deck_raceSelectBoxIt,
.oppfield #deck_raceSelectBoxItContainer,
.oppfield #deck_raceSelectBoxItContainer .selectboxit-options {
    /* Set's the drop down options width to the same width as the drop down button */
    width: 210px !important;
}