// New Deck Builder Styling
.deckbuilder-img{
	height: 250px;
}
#deckbuilder-list{
	width: 625px;
	li{
		list-style-type: none;
		display: inline;
		float: left;
	}
	.name{
		visibility: hidden;
	}
}

.highcharts-container{
  overflow: visible !important;
  position: static !important;
}
.deck-show-graph{
  height: 500px;
}

.version-number{
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid black;
}
.deckform{
	label{
    font-size: 38px;
    margin-bottom: 20px;
  }
	.deckname{
		height: 50px;
		width: 100%;
		max-width: 300px;
		font-size: 20px;
	}
	.actions{
		margin-top: 30px;
	}
}
.decklink{
	width: 100%;
	max-width: 400px;
}
.deckbuilderWrapper label {
  font-size:24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}
.notesfield{
	margin-top: 30px;
	width: 60%;
	display: inline-block;
	text-align: left;
}

.versions{
  margin-top: 30px;
}

.deck_title{
	display: inline-block;
}
.winrates{
	display: inline-block;
	margin-right: 10px;
	border: 1px #eee solid;
	padding: 5px;
}
.deck-notes{
	p{
		word-wrap: break-word;
	}
	.decklist {
		display: block;
		margin-bottom: 5px;
	}
}
.selectboxit-container .selectboxit {
  width: 200px !important;
}
.slot-row .col-xs-4 {
  margin-bottom:1em;
}
.deck-text{
	display: none;
	width: 100%;
	height: 100px;
}
.toggle-box{
	padding: 5px;
}
