// New Deck Builder Styling
.deckbuilder-img{
	height: 250px;
}
#deckbuilder-list{
	width: 100%;
	li{
		list-style-type: none;
		display: inline;
		float: left;
	}
	.name{
		visibility: hidden;
	}
}

.highcharts-container{
  overflow: visible !important;
  position: static !important;
}
.deck-show-graph{
  margin-bottom: 300px;
}

.version-number{
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid black;
}
.deckform{
	label{
    font-size: 38px;
    margin-bottom: 20px;
  }
	.deckname{
		height: 50px;
		width: 100%;
		max-width: 300px;
		font-size: 20px;
	}
	.actions{
		margin-top: 30px;
	}
}
.decklink{
	width: 100%;
	max-width: 400px;
}
.deckbuilderWrapper label {
  font-size:24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}
.notesfield{
	margin-top: 30px;
	width: 60%;
	display: inline-block;
	text-align: left;
}

.versions{
  margin-top: 30px;
}

.deck_title{
	display: inline-block;
}
.winrates{
	display: inline-block;
	margin-right: 10px;
	border: 1px #eee solid;
	padding: 5px;
}
.deck-notes{
	p{
		word-wrap: break-word;
	}
	.decklist {
		display: block;
		margin-bottom: 5px;
	}
}
.selectboxit-container .selectboxit {
  width: 200px !important;
}
.slot-row .col-xs-4 {
  margin-bottom:1em;
}
.deck-text-box{
  display: none;
  .deck-text{
    width: 100%;
    height: 100px;
  }
}
.toggle-box{
	padding: 5px;
}
.deckbuilder-actions{
	display: block;
	padding: 0 10px 0 10px;
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.add{
		float: left;
		background-color: #428BCA;
		width: 50%;
		text-align: center;
		padding: 10px;
		cursor: pointer;
	}
	.remove{
		float: right;
		background-color: #D84A38;
		width: 50%;
		text-align: center;
		padding: 10px;
		cursor: pointer;
	}
}
.splash-class{
	display: inline-block;
	/* A one-second transition was to disturbing for me */
        -webkit-transition: all 0.3s ease;
        -moz-transition:    all 0.3s ease;
        -o-transition:      all 0.3s ease;
        -ms-transition:     all 0.3s ease;
        transition:         all 0.3s ease;
}
.splash-class:hover{
	transform:scale(1.5);
  -ms-transform:scale(1.5); /* IE 9 */
  -moz-transform:scale(1.5); /* Firefox */
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -o-transform:scale(1.5); /* Opera */
}
.splash-class-container{
	display: inline-block;
	padding: 10px;
}
.classes-cont{
	display: block;
	width: 510px;
	margin: auto;
}
.card-count{
	text-align: center;
}
#deck-list{
  border-bottom: 1px solid black;
  tr:nth-child(even){background: #CCC}
  .green{
    color: #35aa47;
  }
	th{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		border-bottom: 1px solid black;
	}
  th:last-child{
    padding-left: 10px;
    text-align: right;
  }
}
.quick-add{
  color: white;
  float: left;
  background-color: #428BCA;
  width: 50%;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
.quick-remove{
  color: white;
  float: right;
  background-color: #D84A38;
  width: 50%;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
th .header{
  background-color: none !important;
}
.btn-version{
  margin-right: 5px;
}

.card-list{
  padding: 0;
}
