/* deck builder */
.deckbuilderWrapper {
}
.deckbuilderWrapper .cardListHeader,
.deckbuilderWrapper.enabled .deckBuilderTools {
  display:block;
}
.deckbuilderWrapper .deckBuilderTools,
.deckbuilderWrapper.enabled .cardListHeader {
  display:none;
}
.deckbuilderWrapper .deckBuilderCardsWrapper {
  margin-bottom:1em;
}
.deckbuilderWrapper .cardWrapper {
  width:218px;
  overflow:hidden;
  position:relative;
  height:35px;
  line-height:28px;
  padding:2px;
  display:block;
  font-size:12px;
  color:#fff;
  font-weight:bold;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  line-height:38px;
}
.deckbuilderWrapper.enabled .cardWrapper {
  cursor:pointer;
}
.deckbuilderWrapper .cardWrapper .mana {
  font-size:16px;
  width:24px;
  text-align:center;
  position:absolute;
  top:0;
  left:2px;
  z-index:5;
  height:100%;
}
.deckbuilderWrapper .cardWrapper .name {
  position:absolute;
  top:0;
  left:38px;
  z-index:5;
}
.deckbuilderWrapper .cardWrapper .bg {
  background-image:url(/assets/deckbuilder_card.png);
  position:absolute;
  top:0;
  left:0;
  z-index:3;
  width:100%;
  height:100%;
}
.deckbuilderWrapper .cardWrapper.two .bg {
  background-image:url(/assets/deckbuilder_card_2.png);
}
.deckbuilderWrapper .cardWrapper.legendary .bg {
  background-image:url(/assets/deckbuilder_card_legendary.png);
}
.deckbuilderWrapper .cardWrapper .image {
  position:absolute;
  top: 0;
  right: 5px;
  z-index:1;
}
.deckbuilderWrapper .preloadCardBg {
  background: url(/assets/deckbuilder_card.png) no-repeat -9999px -9999px;
}
.deckbuilderWrapper .preloadCardBg_2 {
  background: url(/assets/deckbuilder_card_2.png) no-repeat -9999px -9999px;
}
.deckbuilderWrapper .preloadCardBg_legendary {
  background: url(/assets/deckbuilder_card_legendary.png) no-repeat -9999px -9999px;
}
.deckbuilderWrapper .deckBuilderMissingCards {
  margin:1em auto;
  padding:2em 1em;
  text-align:center;
}
.deckbuilderWrapper .deckBuilderCurveChart,
.deckbuilderWrapper #mechanicsChart {
  width:200px;
  height:230px;
  margin:auto;
  margin-bottom:2em;
}
.deckbuilderWrapper #typeChart {
  width:200px;
  height:230px;
  margin:auto;
  margin-bottom:2em;
}
#flotTooltip {
  position: absolute;
  display: none;
  border: 1px solid #333;
  padding: 2px;
  background-color: #fee;
  color:#000;
  opacity: 0.90;
}

.inline-graph{
  display: inline-block;
} 

/* deck lists */  
/*table.decklist td.public-decklist-class,
table.decklist th.public-decklist-class{
  width: 100px;
}
table.decklist td.name{
  font-size: 16px;  
}
table.decklist td.public-decklist-class img {
  height:40px;
  width:40px; 
}

table.decklist th.public-decklist-class,
table.decklist td.public-decklist-class, 
table.decklist th.minions,
table.decklist td.minions,
table.decklist th.spells,
table.decklist td.spells,
table.decklist th.weapons,
table.decklist td.weapons,
table.decklist th.matches,
table.decklist td.matches,
table.decklist th.wins,
table.decklist td.wins,
table.decklist th.losses,
table.decklist td.losses,
table.decklist th.num_users,
table.decklist td.num_users,
table.decklist th.winrate,
table.decklist td.winrate{
  text-align:center;
  vertical-align: middle;
  border-color: #fff;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
}


table.decklist .deck-name{
  white-space: pre-line;  
}
 
table.decklist td.name,
table.decklist th.name,
table.decklist th.author,
table.decklist td.author,
table.decklist td.tools {
  border-color: #fff;
  vertical-align: middle;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
}

table.decklist td.author{ 
  color: #666;
}

@media (max-width: 768px){
  table.decklist td.name{
  font-size: 13px;   
}
  table.decklist td.public-decklist-class img{ 
    width: 20px;
    height: 20px;
  }
  table.decklist td.public-decklist-class .klass-name{
    display: none;
  }
  table.decklist th.name{
    text-align: center;
  }
}
table.decklist th.toggle,
table.decklist td.toggle{
  text-align: center;
  border-color: #fff;
  max-width: 20px;
  border-bottom-color: #ccc;
  border-top-color: #ccc;
}
.footable-row-detail-inner{ 
  margin-left: 170px;
} 
.footable-row-detail-cell{
  border-color: #fff;
}*/

/* featured decks */

.featured-deck-img{
  width: 150px;
  height: 150px;
  margin: auto;
}

a.featured-deck-name{
  color: #fff;
  text-decoration: none;
}

/* public decklists */ 
.deck-section{ 
  padding: 20px 10px; 
  float: left;
  width: 50%;  
  min-height: 90px;  
  min-width: 400;
}
.deck-section:hover{
  background-color: #fafafa;
}
.public-deck-class img{
  width: 50px;
  height: 50px; 
  margin: 0px 20px;
}

.public-deck-ident{
  max-width: 30%;
}
.public-deck-ident,
.public-deck-class{
  float: left; 
  display: inline-block;
}

.public-deck-name{
  font-size: 16px;  
}
.name-tooltip{
  white-space: pre-line;  
}
.public-deck-author{
  font-size: 13px; 
  margin: 0px;
}
.win-rate, .num-matches{
  float: right;  
  text-align: center;
}
.win-rate{  
  margin-right: 2%;
}

.num-matches{
  margin-right: 2%;
}

.win-percent{
  font-size: 15px;
}

.user-option-buttons{
  float: right;
  margin-right: 2%;
  width: 130px; 
  text-align: right;
  vertical-align: middle;
}

.user-option-buttons .btn{
  padding: 8px;
  padding-left padding-right: 12px;
}

@media (max-width: 1350px) {
  .deck-section{   
    clear: both;
    width: 100%; 
  }
} 

@media (max-width: 700px){ 
  .num-matches{
    display: none;
  }
}

@media (max-width: 500px){  
  .win-rate{
    display: none;
  }
}

@media (max-width: 450px){ 
  .public-deck-class{
    display: none;
  }
  .public-deck-ident{
    max-width: 50%;
  }
}

.Mage-bg-color{
  background-color: #2581BC;
}
.Warlock-bg-color{
  background-color: #4F2669;
}
.Shaman-bg-color{
  background-color: #283273;
}
.Paladin-bg-color{
  background-color: #FBD707;
}
.Hunter-bg-color{
  background-color: #208D43;
}
.Rogue-bg-color{
  background-color: #2F2C27;
}
.Warrior-bg-color{
  background-color: #B32025;
}
.Druid-bg-color{
  background-color: #613112;
}
.Priest-bg-color{
  background-color: #A3B2B2;
}

.mix-details a{
  color: #fff;
  text-decoration: none;
}
.mix-details a:hover{
  color: #fb9b5e;
}