/* filter buttons */
.selected{
	background-color: #d1d1d1 !important;
}
.kSelected{
	background-color: #216ae1 !important;
}
.textImportToggle{
	text-align: left;
}

#search{
	height: 35px !important;
	width: 100%;
}
#deckName{
	height: 25px !important;
	padding: 5px;
}
.deckbuilderFilter{ 
	margin: 0px !important;
	padding: 0;
}
.filterParam{
	margin-top: 5px;
	margin-bottom: 2px;
}
.nextButton{
	margin-top: 5px;
	float: right;
}
.cke_top, .cke_bottom{
	background: #fff !important;
}
.filterParam{
	min-width: 540px;
}
.deckBuilderWrapper{
	width: 100%;
}
#selection{
	height: 637px;
}
.deck-text{
	height: 610px;
	min-width: 520px;
	padding: 15px;
	margin: 10px 0px 10px 15px;
}
#cardSelect{
	padding: 5px;
}
#filter{
	min-width: 545px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	padding: 5px;
	border-color: #d1d1d1;
}
.noArchtype{
	padding: 3px;
	cursor: pointer;
}
.marg{
	margin-right: 5px !important;
}
.cke{
	width: 90%;
	margin-left: 15px !important;
}
.card .name, .deckbuilder-img{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.vButton{
	margin-top: 5px;
	width: 50%;
}
.left{
	text-align: left;
}
.submitButton{
	width: 100%;
	margin: 0px;
	margin-top: 5px;
}
.deckDetails{
	width: 800px;
	margin: auto;
}
.card{
	cursor: default;
}
.notes{
	margin-left: 15px;
}
.deckbuilderCardsWrapper{
	height: 615px;
	overflow: auto;
}
.deckDetailCardShow{
	height: 1200px;
}
.deckbuilder-img:hover{
	transform:scale(1.2);
  -ms-transform:scale(1.2); /* IE 9 */
  -moz-transform:scale(1.2); /* Firefox */
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -o-transform:scale(1.2); /* Opera */
}
.maxed:hover{
  transform:scale(1);
  -ms-transform:scale(1); /* IE 9 */
  -moz-transform:scale(1); /* Firefox */
  -webkit-transform:scale(1); /* Safari and Chrome */
  -o-transform:scale(1); /* Opera */
}
.deckbuilder-img{
  height: 250px;
  width: 165px;
  cursor:pointer;
}
.maxed{
	-webkit-filter : brightness(60%);
	-moz-filter : brightness(60%);
	filter : url(#brightness); /* required for FF */
	filter : brightness(60%);
	cursor : default;
}
.deckbuilderCards{ 
	min-width: 545px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
.deckbuilderFilter{
  margin: 5px;
}
.manaFilters button{
  width: 45px;
}