.footer-text{
	list-style: none;
	padding: 0;
	font-size: 12px;
	li{
		padding-right: 10px;
		display: inline;
		color: #999999;
		a{
			color: #999999;
		}
	}
	ul{
		padding: 0;
		display: inline;
		list-style: none;
	}
}
.copy-right{
	font-size: 10px;
}