.selectboxit-options .Druid{
	background-color: rgba(92,75,81,0.7);
}
.selectboxit-options .Hunter{
	background-color: rgba(39,174,96,0.7);
}
.selectboxit-options .Mage{
	background-color: rgba(52,152,219,0.7);
}
.selectboxit-options .Paladin{
	background-color: rgba(241,196,15,0.7);
}
.selectboxit-options .Priest{
	background-color: rgba(189,195,199,0.7);
}
.selectboxit-options .Rogue{
	background-color: rgba(44,62,80,0.7);
}
.selectboxit-options .Shaman{
	background-color: rgba(61,62,148,0.7);
}
.selectboxit-options .Warlock{
	background-color: rgba(142,68,173,0.7);
}
.selectboxit-options .Warrior{
	background-color: rgba(192,57,43,0.7);
}
.selectboxit-options .Druid .selectboxit-option-anchor,
.selectboxit-options .Rogue .selectboxit-option-anchor,
.selectboxit-options .Warlock .selectboxit-option-anchor,
.selectboxit-options .Warrior .selectboxit-option-anchor{
	color:#fff;
}