.selectboxit-options .Druid{
	background-color: rgba(92,75,81,0.7);
}
.selectboxit-options .Hunter{
	background-color: rgba(39,174,96,0.7);
}
.selectboxit-options .Mage{
	background-color: rgba(52,152,219,0.7);
}
.selectboxit-options .Paladin{
	background-color: rgba(241,196,15,0.7);
}
.selectboxit-options .Priest{
	background-color: rgba(189,195,199,0.7);
}
.selectboxit-options .Rogue{
	background-color: rgba(44,62,80,0.7);
}
.selectboxit-options .Shaman{
	background-color: rgba(61,62,148,0.7);
}
.selectboxit-options .Warlock{
	background-color: rgba(142,68,173,0.7);
}
.selectboxit-options .Warrior{
	background-color: rgba(192,57,43,0.7);
}
.selectboxit-options .Druid .selectboxit-option-anchor,
.selectboxit-options .Rogue .selectboxit-option-anchor,
.selectboxit-options .Warlock .selectboxit-option-anchor,
.selectboxit-options .Warrior .selectboxit-option-anchor{
	color:#fff;
}

/* deck builder */
.deckbuilderWrapper {
 min-height:700px; 
}
.deckbuilderWrapper .cardListHeader,
.deckbuilderWrapper.enabled .deckBuilderTools {
  display:block;
}
.deckbuilderWrapper .deckBuilderTools,
.deckbuilderWrapper .deckBuilderMissingCards,
.deckbuilderWrapper.enabled .cardListHeader {
  display:none;
}
.deckbuilderWrapper .deckBuilderCardsWrapper {
  margin-bottom:1em; 
}
.deckbuilderWrapper .cardWrapper {
  width:218px;
  overflow:hidden;
  position:relative;
  height:35px;
  line-height:28px;
  padding:2px;
  display:block;
  margin:0 auto;
  font-size:12px;
  color:#fff;
  font-weight:bold; 
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  line-height:38px;
}
.deckbuilderWrapper.enabled .cardWrapper {
  cursor:pointer;
}
.deckbuilderWrapper .cardWrapper .mana {
  font-size:16px;
  width:24px;
  text-align:center;
  position:absolute;
  top:0;
  left:2px;
  z-index:5;
  height:100%;
}
.deckbuilderWrapper .cardWrapper .name {
  position:absolute;
  top:0;
  left:38px;
  z-index:5; 
}
.deckbuilderWrapper .cardWrapper .bg {
  background-image:url(/assets/deckbuilder_card.png);
  position:absolute;
  top:0;
  left:0;
  z-index:3;
  width:100%; 
  height:100%; 
}
.deckbuilderWrapper .cardWrapper.two .bg {
  background-image:url(/assets/deckbuilder_card_2.png);
}
.deckbuilderWrapper .cardWrapper.legendary .bg {
  background-image:url(/assets/deckbuilder_card_legendary.png);
}
.deckbuilderWrapper .cardWrapper .image {
  width:250px;
  position:absolute;
  top:-38px;
  left:30px;
  z-index:1;
}
.deckbuilderWrapper .deckBuilderMissingCards {
  margin:1em auto;
  width:300px;
  padding:1em;
}
.deckbuilderWrapper #manaCurveChart {
  width:230px;
  height:100px;
  margin:auto;
}
