.Druid{
	background-color: #5C4B51;
}
.Hunter{
	background-color: #27ae60;
}
.Mage{
	background-color: #3498db;
}
.Paladin{
	background-color: #f1c40f;
}
.Priest{
	background-color: #bdc3c7;
}
.Rogue{
	background-color: #2c3e50;
}
.Shaman{
	background-color: #3D3E94;
}
.Warlock{
	background-color: #8e44ad;
}
.Warrior{
	background-color: #c0392b;
}
