.top-deck{
  margin: auto;
  text-align: center;
  height: 200px !important;
  padding: 10px;
}
.new-deck img,.top-deck img{
  width: 90%;
  padding-top: 20px;
  margin: auto;
}
.new-decks{
  padding: 10px;
}
.new-decks ul{
  list-style-type: none;
}
a.new-deck-link{
  color: #000 !important;
}
div:focus { outline: none; } 
.archtype-decks{
  width: 90%;
  margin: auto;
}
#new-decks, #top-decks{
  padding: 0px 30px 0px 30px;
}

.slick-prev:before{
  color: #cecece!important;
}
.slick-next:before{
  color: #cecece !important;
}