.turn-by-turn{
	.turn-details{
		background-color: #EEEEEE;
		padding: 5px;
		margin-top: 5px;
		cursor: pointer;
		.turn-number{
			text-align: center;
		}
		.expand{
			text-align: right;
			color: #7f8c8d;
		}
	}
	.action{
		display: none;
	}
}
.versus-classes {
  display: block;
  text-align: center;
  height: 300px
}
.versus-class-text {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Permanent Marker', cursive;
}
.versus-class-pic {
  display: inline-block;
  vertical-align: top;
}
.versus-class-pic img {
  height: 250px;
}

.versus-class-winner {
  font-family: 'Permanent Marker', cursive;
  display: block;
  font-size: 30px;
}
