h3 class="hidden" You have joined this tournament
h3 Submit your decks
div.row id="deck_select_panel"
  div.col-md-6
    p
      |Choose&nbsp;
      span id="count_display" = count
      |&nbsp;more decks
    = hidden_field_tag 'num_decks', count
    = form_tag(submit_deck_tournament_path)
      ul class="no-bullet"
        - decks.each_with_index do |deck, index|
          li class="deck_choice"
            label
              = check_box_tag "deck_#{index}", deck.id
              img[src = "/assets/Icons/Classes/#{deck.class_name}_Icon.gif"
                alt = "#{deck.class_name}" style="width:24px; margin: 0 5px;"]
              = deck.name
      = submit_tag 'Not enough decks...', class: 'btn btn-md blue', disabled: true

javascript:

  $(document).ready(function(){
    $(".deck_choice").click(function(){
      var checked = $( "input:checked" ).length
      var count = $("#num_decks").val()
      if (checked > count) {
          event.preventDefault();
          alert('You can only choose' + count + ' decks!');
          checked -= 1;
      }
      $("#count_display").text(count-checked);

      if(checked == count) {
        $('input[type="submit"]').removeAttr('disabled');
        $('input[type="submit"]').val('Submit and Enter')
      } else {
        $('input[type="submit"]').prop('disabled', true)
        $('input[type="submit"]').val('Not enough decks...')
      }
    });
  });