<% set_meta_tags :title => 'Arean Match Entry',
  :description => 'New Arena Match Entry',
  :keywords => 'new, entry, arena, hearthstats, hearthstone, match, tracking, win, loss' %>

<div class="entrytitle">New Arena Entry</div>

<%= render 'newform' %>

<%= link_to 'Back', arenas_path, class: "pure-button pure-button-secondary backbutton" %>
