<% set_meta_tags :title => 'Arena Match Entry',
  :description => 'New Arena Match Entry',
  :keywords => 'new, entry, arena, hearthstats, hearthstone, match, tracking, win, loss' %>

<div class="entrytitle">New Arena Entry</div>

<%= render 'newform' %>
