- set_meta_tags :title => 'Arena Game Statistics',
  :description => 'Arena Game Statistics',
  :keywords => 'arena, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, 'Statistics')
- provide(:subtitle, ' arena game stats');
- provide(:section, 'Arena')

h2 TBA
