div.graphcont
  div.graphtitle = race
  canvas id="arena#{race}" height="#{height}" class="arenagraph"

javascript:

  var ctx = document.getElementById("arena#{race}").getContext("2d");
  var data = {
    labels : #{timearray.reverse.to_json},
    datasets : [
      {
        fillColor : "rgba(230,76,101,1)",
        strokeColor : "rgb(204,50,75)",
        pointColor : "rgb(204,50,75)",
        pointStrokeColor : "#fff",
        data : #{wins.reverse.to_json}
      }
    ]
  }

  var myNewChart = new Chart(ctx).Line(data,{
    scaleFontColor : "white",
    scaleGridLineColor : "rgba(255,255,255,.1)",
    scaleLineColor : "rgba(255,255,255,.1)",
  });
