div.graphcont
  div.graphtitle = race
  canvas id="con#{race}" height="#{height}" class="congraph"

javascript:

  var ctx = document.getElementById("con#{race}").getContext("2d");
  var data = {
    labels : #{timearray.reverse.to_json},
    datasets : [
      {
        fillColor : "rgb(0,206,155)",
        strokeColor : "rgb(0,173,130)",
        pointColor : "rgb(0,173,130",
        pointStrokeColor : "#fff",
        data : #{wins.reverse.to_json}
      }
    ]
  }

  var myNewChart = new Chart(ctx).Line(data,{
    scaleFontColor : "#2c3e50",
    scaleGridLineColor : "rgba(255,255,255,.1)",
    scaleLineColor : "rgba(255,255,255,.1)",
  });