<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<title>Website name - Some tagline here</title>

	<meta name="robots" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="foundation.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/ico.css"/>
	<link rel="stylesheet" type="text/css" href="/css/flexslider.css" />
	<link rel="stylesheet" type="text/css" href="css/prettyphoto.css" />

	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" />
	<![endif]-->

	<!-- FAVICON-->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Header section -->
<header>
	<div class="header">
		<div class="row">

			<!-- Logo content -->
			<div class="four columns logo">
				<h1><a href="#">Appzter<span>.</span></a></h1>
			</div>

			<div class="eight columns">

				<!-- Social icons -->
				<ul class="top-social">
					<li class="top-tweet"><a href="#1"><div class="icon-twitter"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					<li class="top-fb"><a href="#2"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					<li class="top-dribble"><a href="#3"><div class="icon-dribble"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					<li class="top-skype"><a href="#4"><div class="icon-skype"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
				</ul>

				<!-- Nav menu -->
				<ul class="top-nav">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./page.html">Sample page</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>

		</div>
	</div>
</header>
<!-- Header section -->

<!-- Slider section -->
<section class="slider-top">
	<div class="row">
		<div class="twelve columns top-content">
			<h3>Welcome to appzter landing page.</h3>
			<p>Donec molestie suscipit ipsum vitae pellentesque. Sed id mi tellus disse nec ultricies ligula onec sollicitudin urna dui raesent auctor posuere turpis eget sagittis fusce porta.</p>

			<!-- Subscribe section -->
			<form>
				<input type="email" placeholder="email@example.com" />
				<a class="icon-envelope" href="#"><span>Subscribe</span></a>
			</form>
			<!-- Subscribe section -->
		</div>

		<div class="twelve columns">
			<!-- Slider content -->
			<div id="main-slider" class="flexslider">
				<ul class="slides">
					<li><img src="demo/slides/slide1.png" alt=""/></li>
					<li><img src="demo/slides/slide2.png" alt=""/></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Slider section -->

<!-- Services section -->
<section id="services">
	<div class="row">

		<div class="content-head">
			<h2>Services we offer</h2>
			<div class="line"></div>
		</div>

		<div class="twelve columns">
			<div class="four columns services-info">
				<div class="ico"><img src="images/ico1.png" alt=""/></div>
				<div class="desc">
					<h4>Responsive Design</h4>
					<p>Donec aliquet mattis arcu quis eleifend nisl avida lorem mattis lorem. Sced amet imperdiet tortor quisvesti bulum.</p>
				</div>
			</div>

			<div class="four columns services-info">
				<div class="ico"><img src="images/ico2.png" alt=""/></div>
				<div class="desc">
					<h4>Leads Generation</h4>
					<p>Donec aliquet mattis arcu quis eleifend nisl avida lorem mattis lorem. Sced amet imperdiet tortor quisvesti bulum.</p>
				</div>
			</div>

			<div class="four columns services-info">
				<div class="ico"><img src="images/ico3.png" alt=""/></div>
				<div class="desc">
					<h4>Live Support</h4>
					<p>Donec aliquet mattis arcu quis eleifend nisl avida lorem mattis lorem. Sced amet imperdiet tortor quisvesti bulum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services section -->

<!-- About section -->
<section id="about">
	<div class="row">
      	<div class="content-head">
			<h2>About the product</h2>
			<div class="line"></div>
		</div>

		<div class="six columns">
			<img src="demo/2.jpg" alt=""/>
		</div>

		<div class="six columns about-info">
			<h4>How to design a perfect landing page?</h4>
			<p>Suspendisse ac nunc ligula. Integer nec dolor auctor vulputate lacus non pulvinar metus. Donec molestie suscipit ipsum vitae pell tesque.</p>
			<ul class="list">
				<li>Design with lorem ipsum</li>
				<li>A perfect contact page</li>
				<li>Slider with the features</li>
				<li>Customer testimonials</li>
			</ul>
			<a class="download-btn" href="#">Download now</a>
		</div>
	</div>
</section>
<!-- About section -->

<div class="clear"></div>
<div class="space30"></div>

<!-- Screenshot/gallery section -->
<section id="gallery">
	<div class="row">

      	<div class="content-head">
			<h2>Screenshot gallery</h2>
			<div class="line"></div>
		</div>

		<div class="twelve columns no-padding">
			<div class="slidewrap">
				<ul class="slidecontrol">
					<li><a href="#sliderName" class="next">Next</a></li>
					<li><a href="#sliderName" class="prev">Prev</a></li>
				</ul>

				<ul class="slider gallery" id="sliderName">
					<li class="slide">
						<div class="three columns">
							<a href="demo/works/1.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/1.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 1</span>
											<span class="overlay-tag">Front</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/2.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/2.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 2</span>
											<span class="overlay-tag">Right</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/3.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/3.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 3</span>
											<span class="overlay-tag">Left</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/4.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/4.jpg" alt="" />
									<span class="portfolio-inner">
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 4</span>
											<span class="overlay-tag">Back</span>
										</span>
									</span>
								</div>
							</a>
						</div>
					</li>

					<li class="slide">
						<div class="three columns">
							<a href="demo/works/5.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/5.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 1</span>
											<span class="overlay-tag">Front</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/6.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/6.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 2</span>
											<span class="overlay-tag">Right</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/7.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/7.jpg" alt="" />
									<span class="portfolio-inner" >
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 3</span>
											<span class="overlay-tag">Left</span>
										</span>
									</span>
								</div>
							</a>
						</div>

						<div class="three columns">
							<a href="demo/works/3.jpg" class="prettyPhoto">
								<div class="portfolio_thumb"><img src="demo/works/3.jpg" alt="" />
									<span class="portfolio-inner">
										<span class="zoom-inner">
											<span class="overlay title">Screenshot 4</span>
											<span class="overlay-tag">Back</span>
										</span>
									</span>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Screenshot/gallery section -->

<!-- Pricing section -->
<section id="pricing">
	<div class="row">
      	<div class="content-head">
			<h2>Plans & Pricing</h2>
			<div class="line"></div>
		</div>

		<div class="twelve columns pricing-wrap">
			<div class="pricing1">
				<div class="plan-title">Beginner</div>
				<div class="plan-price">39$</div>
				<div class="plan-features">
					<ul>
						<li>Unlimited Space</li>
						<li>500GB Bandwidth</li>
						<li>Free subdomain</li>
						<li>One click installer</li>
						<li>30 FTP Accounts</li>
					</ul>
				</div>
				<a class="buy-now" href="#">Choose Plan</a>
			</div>

			<div class="pricing2">
				<span class="bvalue"></span>
				<div class="plan-title-sp">Professional</div>
				<div class="plan-price-sp">99$</div>
				<div class="plan-features-sp">
					<ul>
						<li>Unlimited Space</li>
						<li>1TB Bandwidth</li>
						<li>5 Free domains</li>
						<li>Free website builder</li>
						<li>One click installer</li>
						<li>100 FTP Accounts</li>
					</ul>
				</div>
				<a class="buy-now-sp" href="#">Choose Plan</a>
			</div>

			<div class="pricing3">
				<div class="plan-title">Intermediate</div>
					<div class="plan-price">69$</div>
					<div class="plan-features">
					<ul>
						<li>Unlimited Space</li>
						<li>750GB Bandwidth</li>
						<li>1 Free domain</li>
						<li>One click installer</li>
						<li>50 FTP Accounts</li>
					</ul>
				</div>
				<a class="buy-now" href="#">Choose Plan</a>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section -->

<div class="space40"></div>
<div class="clear"></div>

<!-- Features section -->
<section id="features">
	<div class="row">
      	<div class="content-head">
			<h2>Additional Features</h2>
			<div class="line"></div>
		</div>

		<div class="twelve columns">
			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-desktop"></i>
				</div>
				<div class="features-desc">
				<h4>Responsive</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa facilisis imperdiet.</p>
				</div>
			</div>

			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-rocket"></i>
				</div>
				<div class="features-desc">
				<h4>Quick Launch</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa facilisis imperdiet.</p>
				</div>
			</div>


			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-sitemap"></i>
				</div>
				<div class="features-desc">
				<h4>Awesome features</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa faci lisis imper.</p>
				</div>
			</div>


			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-shield"></i>
				</div>
				<div class="features-desc">
				<h4>350+ font icons</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa faci lisis imper.</p>
				</div>
			</div>


			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-question-sign"></i>
				</div>
				<div class="features-desc">
				<h4>Documentation</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa faci lisis imper.</p>
				</div>
			</div>


			<div class="four columns features-content">
				<div class="ico">
					<i class="icon-beaker"></i>
				</div>
				<div class="features-desc">
				<h4>Fully Tested</h4>
				<p>Phasellus vel libero in elit consequat dign issim non dui vitae massa faci lisis imper.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section -->

<!-- Team section -->
<section id="team">
	<div class="row">
      	<div class="content-head">
			<h2>Our team</h2>
			<div class="line"></div>
		</div>

		<div class="twelve columns no-padding">

			<div class="three columns team-main">
				<img class="thumb" src="demo/team/1.jpg" alt=""/>
				<div class="team-info">
					<h4>Mike Dackenie</h4>
					<h5>App Developer</h5>
					<p>Phasellus vel libero in elit vitae massa facilisis imperdiet.</p>

					<ul class="team-social">
						<li><a href="#"><div class="icon-twitter"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div ></a></li>
						<li><a href="#"><div class="icon-dribble"><div class="social-inner"><img src="images/pat.png" alt=""></div></div ></a></li>
						<li><a href="#"><div class="icon-skype"><div class="social-inner"><img src="images/pat.png" alt=""></div></div ></a></li>
					</ul>
				</div>
			</div>

			<div class="three columns team-main">
				<img class="thumb" src="demo/team/2.jpg" alt=""/>
				<div class="team-info">
					<h4>Jack liana</h4>
					<h5>Marketing Head</h5>
					<p>Phasellus vel libero in elit vitae massa facilisis imperdiet.</p>

					<ul class="team-social">
						<li><a href="#"><div class="icon-twitter"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-dribble"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-instagram"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					</ul>
				</div>
			</div>

			<div class="three columns team-main">
				<img class="thumb" src="demo/team/3.jpg" alt=""/>
				<div class="team-info">
					<h4>Adam jonzie</h4>
					<h5>Product designer</h5>
					<p>Phasellus vel libero in elit vitae massa facilisis imperdiet.</p>

					<ul class="team-social">
						<li><a href="#"><div class="icon-twitter"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-dribble"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-flickr"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					</ul>
				</div>
			</div>

			<div class="three columns team-main">
				<img class="thumb" src="demo/team/4.jpg" alt=""/>
				<div class="team-info">
					<h4>Benzer volia</h4>
					<h5>Team Manager</h5>
					<p>Phasellus vel libero in elit vitae massa facilisis imperdiet.</p>

					<ul class="team-social">
						<li><a href="#"><div class="icon-twitter"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-linkedin"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
						<li><a href="#"><div class="icon-dribble"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team section -->

<div class="clear"></div>
<div class="space20"></div>

<!-- Testimonial / quote section -->
<section id="wrap2">
	<div class="row">
		<div class="twelve columns testimonials">
			<div id="quote-slider" class="flexslider">
				<ul class="slides">
					<li>
						<blockquote>This is one of the best theme i have ever bought, great work overall lorem ipsum dolor amet sirus <cite>John Doe, Company name</cite></blockquote>
					</li>
					<li>
						<blockquote>This is one of the best theme i have ever bought, great work overall lorem ipsum dolor amet sirus <cite>John Doe, Company name</cite></blockquote>
					</li>
					<li>
						<blockquote>This is one of the best theme i have ever bought, great work overall lorem ipsum dolor amet sirus <cite>John Doe, Company name</cite></blockquote>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial / quote section -->

<!-- Client section -->
<section class="clients">
	<div class="row">
		<img src="demo/clients.png" alt=""/>
	</div>
</section>
<!-- Client section -->

<div id="wrap3">
	<div class="row">
		<div class="twelve columns">
			<h3>Still have Questions? <span>Write to us</span></h3>
			<div class="line"></div>
		</div>
	</div>
</div>

<!-- Contact section -->
<section id="contact">
	<div class="row">
		<div class="twelve columns">
			<div class="six columns mb-nop">
				<!-- Contact form content -->
				<div id="contact-wrap">
					<form id="contactForm" action="php/contact.php" method="post">
						<ul>
							<li class="six columns">
								<input type="text" name="senderName" id="senderName" placeholder="Full Name" required="required" maxlength="40" />
							</li>

							<li class="six columns">
								<input type="email" name="senderEmail" id="senderEmail" placeholder="Email Address" required="required" maxlength="50" />
							</li>

							<li class="twelve columns">
								<textarea name="message" id="message" placeholder="Message" required="required" cols="30" rows="4" maxlength="10000"></textarea>
							</li>

							<li>
								<input type="submit" class="button-contact"  value="Send" />
							</li>
						</ul>
					</form>

					<div id="sendingMessage" class="statusMessage"><p>Sending your message. Please wait...</p></div>
					<div id="successMessage" class="successmessage"><div class="success-ico"><i class="icon-ok-circle"></i></div><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
					<div id="failureMessage" class="errormessage"><div class="error-ico"><i class="icon-remove-circle"></i></div><p>There was a problem sending your message. Please try again.</p></div>
					<div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>
				</div>
				<!-- Contact form content -->
			</div>

			<!-- Contact info content -->
			<div class="six columns contact-info">
				<p>Suspendisse ac nunc ligula. Integer nec dolor auctor vulputate lacus non pulvinar metus. Donec molestie suscipit ipsum vitae pell tesque.</p>
				<ul>
					<li><i class="ico icon-phone"></i>+1800 1234 56789</li>
					<li><i class="ico icon-envelope"></i>support@website.com</li>
					<li><i class="ico icon-twitter cblue"></i><a class="cblue" href="#">@username</a></li>
				</ul>
			</div>
			<!-- Contact info content -->
		</div>
	</div>
</section>
<!-- Contact section -->

<!-- Footer section -->
<footer>
	<div class="footer">
		<p>&copy; 2013. <a href="#">Appzter.</a> All rights reserved.</p>
	</div>
</footer>
<!-- Footer section -->

<!-- Back to top button Section -->
<p id="back-top">
	<a href="#top"><span></span></a>
</p>
<!-- Back to top button Section -->

<!-- jQuery Files -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/contact.js"></script>
<script type="text/javascript" src="js/carousel.js"></script>
<script type='text/javascript' src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery.prettyphoto.js"></script>

</body>
</html>