canvas id="myChart" width="#{width}" height="#{height}"
p.chartlegend
  span.con &#9632;
  span.chartlabel Arena
  span.arena &#9632;
  span.chartlabel Constructed

javascript:
  var ctx = document.getElementById("myChart").getContext("2d");
  var data = {
    labels : #{@timearray.reverse.to_json},
    datasets : [
      {
        fillColor : "rgba(52, 152, 219,0.6)",
        strokeColor : "rgba(41, 128, 185,1.0)",
        pointColor : "rgba(41, 128, 185,1.0)",
        pointStrokeColor : "#fff",
        data : #{@conwins.reverse.to_json}
      },
      {
        fillColor : "rgba(155, 89, 182,0.6)",
        strokeColor : "rgba(142, 68, 173,1.0)",
        pointColor : "rgba(142, 68, 173,1.0)",
        pointStrokeColor : "#fff",
        data : #{@arenawins.reverse.to_json}
      }
    ]
  }
  
  var myNewChart = new Chart(ctx).Line(data);  
