h1 = Klass.find(params[:race]).name
h3 This page still has a lot of work to be done.
p Please check out the arena and constructed stats page for now.
p Total # of Win(s)
= @matches.where(result_id: 1).count

p Total # of Lose(s)
= @matches.where(result_id: 2).count
