<h1>Listing constructeds</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @constructeds.each do |constructed| %>
  <tr>
    <td><%= link_to 'Show', constructed %></td>
    <td><%= link_to 'Edit', edit_constructed_path(constructed) %></td>
    <td><%= link_to 'Destroy', constructed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Constructed', new_constructed_path %>
