- set_meta_tags :title => 'Constructed Game Statistics',
  :description => 'Constructed Game Statistics',
  :keywords => 'arena, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, 'Statistics')
- provide(:subtitle, ' constructed game stats');
- provide(:section, 'Constructed')
h2 TBA
