- set_meta_tags :title => 'Cards',
  :description => 'Card Database',
  :keywords => 'arena, hearthstats, hearthstone, match, tracking, win, loss, cards, database, db, card'
- provide(:title, 'Cards')
- provide(:subtitle, '');
- provide(:section, 'Cards')

h2 Card Database