div
  javascript:
    var cpmstar_rnd=Math.round(Math.random()*999999);
    var cpmstar_pid=61280;
    document.writeln("<SCR"+"IPT language='Javascript' src='//server.cpmstar.com/view.aspx?poolid="+cpmstar_pid+"&script=1&rnd="+cpmstar_rnd+"'></SCR"+"IPT>");