- set_meta_tags :title => 'Privacy Policy',
  :description => 'Hearthstats Privacy Policy',
  :keywords => 'Privacy Policy, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, 'Privacy Policy')

p HearthStats has created this privacy policy to demonstrate our commitment to the privacy of the users of our websites. Please read the following to learn more about our privacy policy, and how we treat personally identifiable information collected from our visitors and users.

h2 What this Privacy Policy Covers

p This privacy policy covers HearthStats’s treatment of personally identifiable information collected by HearthStats through a website owned and operated by HearthStats.

p This privacy policy does not apply to the practices of companies that HearthStats does not own or control, or of persons that HearthStats does not employ or manage, including any third-party content contributors bound by contract and any third-party websites to which HearthStats websites link.

h2 Collection and Use of Personal Information

p You can visit the websites of HearthStats without revealing any personal information. Where required, this information may include your personal contact information and/or your company contact information. HearthStats will use this information to reply to your inquiries, to provide you with requested products and services, to set up your member’s account, and to contact you regarding new products and services.

p By accessing the services of HearthStats and voluntarily providing us with the requested personal information, you consent to the collection and use of the information in accordance with this privacy policy.

h2 Collection and Use of Non-Personal Information

p HearthStats automatically receives and records non-personal information on our server logs from your browser including your IP address, cookie information and the page you requested. HearthStats may use this information to customize the advertising and content you see and to fulfill your requests for certain products and services. However, HearthStats does not connect this non-personal data to any personal information collected from you.

p HearthStats also allows third party companies that are presenting advertisements on some of our pages to set and access their cookies on your computer. Again, these cookies are not connected to any personal information. Third party cookie usage is subject to their own privacy policies, and HearthStats assumes no responsibility or liability for this usage.

h2 Information Sharing and Disclosure

p HearthStats may disclose your personal information to third parties who work on behalf of HearthStats to provide products and services requested by you. We will share personal information for these purposes only with third parties whose privacy policies are consistent with ours or who agree to abide by our policies with respect to personal information
p
  |HearthStats may otherwise disclose your personal information when:
  ul
    li We have your express consent to share the information for a specified purpose
    li We need to respond to subpoenas, court orders or such other legal process
    li We need to protect the personal safety of the users of our websites or defend the rights or property of HearthStats
    li We find that your actions on our websites violate the HearthStats Terms of Use document or any of our usage guidelines for specific products or services.

h2 Display Advertising

p HearthStats has implemented Display Advertising and uses Remarketing with Google Analytics to advertise online. It means that third-party vendors, including Google, show our ads on sites across the Internet.

p HearthStats along with third-party vendors, including Google, use first-party cookies (such as the Google Analytics cookie) and third-party cookies (such as the DoubleClick cookie) together to inform, optimize, and serve ads based on your past visits to our website.

p If you want to opt-out of Google Analytics for Display Advertising, just customize Google Display Network ads using the Ads Settings or using Google Analytics Opt-out Browser Add-on that will instruct the Google Analytics JavaScript not to send any information about the website visit to Google Analytics.

h2 Consent

p If you do not consent to the collection, use or disclosure of your personal information as outlined in this policy, please do not provide any personal information to HearthStats. If you have provided personal information to HearthStats and no longer consent to its use or disclosure as outlined herein, please notify HearthStats at admin@hearthstats.net.

h2 Security

p Unfortunately, no data transmission over the Internet can be considered 100% secure. However, your HearthStats Information protected for your privacy and security. In certain areas of our websites, as identified on the site, HearthStats uses industry-standard SSL-encryption to protect data transmissions.

p We also safeguard your personal information from unauthorized access, through access control procedures, network firewalls and physical security measures.
p Further, HearthStats retains your personal information only as long as necessary to fulfill the purposes identified above or as required by law.

h2 Changes to this Privacy Policy

p HearthStats may at any time, without notice to you and in its sole discretion, amend this policy from time to time. Please review this policy periodically. Your continued use of HearthStats websites after any such amendments signifies your acceptance thereof.

h2 Questions or Suggestions

p If you have questions or suggestions about this privacy policy, or your own personal information, please e-mail us at admin@hearthstats.net.
