/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require social-share-button
 *= require jquery.ui.tooltip
 *= require select2
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree .
 */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

#push,
footer {
  height: 60px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.container{
	font-family: 'Lato', sans-serif;
	background-color: white;
	padding-top: 30px;
	max-width: 1038px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
	a{
		text-decoration: none;
		color: black;
	}
}