// Place all the styles related to the Arenas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arenaheader{
	height: 35px;
	.newarena{
		float: right;
		display: inline-block;
	}
	.arenatitle{
		font-size: 30px;
		float: left;
		display: inline-block;
	}
}
table{
	border-collapse:collapse;
	width: 100%;
	background-color: white;
	.heading{
		background-color: rgba(47,47,47,0.98);
		color: white;
		font-family: 'Lato', sans-serif;
		th{
			padding-left: 10px;
			text-align: left;
			font-weight: 100;
			font-size: 20px;
			height: 40px;
		}
	}
	td{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		padding-left: 10px;
		height: 40px;
		.delete{
			padding-left: 20px;
		}
		a{
			position: relative;
			padding-left: 5px;
		}
	}
}