// Place all the styles related to the Constructeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arenabuttons{
	float: right;
}
.quickentry{
	border-radius: 2px !important;
}
.newentry{
	width: 100%;
	padding: 5px;
	.quicktitle{
		display: inline-block;
		font-size: 20px;
		margin-right: 30px;
	}
	.quickform{
		display: inline-block;
		padding-top: 0px;
		.gofirstquick{
			margin-left: 20px;

		}
		.oppclass{
			display: inline-block;
			margin-left: 30px;
		}
		.winbutton{
			margin-left: 20px;
		}
		input{
			padding-top: 8px;
			padding-bottom: 6px;
			margin-left: 20px;
		}
		.select2-container .select2-choice{
			margin-top: -5px;
		  padding-top: 0px;
		  padding-bottom: 8px;
		  height: 20px;
		  overflow-y: auto;
		  font-size: 18px;
		  .select2-chosen{
		  	height: 50px;
		  }
		}

	}
}