// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.global, .userdeckrates, .overwin{
	h2{
		margin-bottom: 0px;
	}
	.rankingtable{
		background-color: #f0f0f0;
		td{
			padding-left: 0;
		}
	}
	.arena{
		float: left;
	}
	.con{
		float: right;
	}
}
.global{
	width: 360px;
	.rankingtable{
		width: 180px;
		td{
			padding-right: 20px;
		}
	}
}
.userdeckrates{
	padding-left: 50px;
	h2{
		padding-bottom: 45px;
	}
	.rankingtable{
		width: 80%;
	}
}
.rssdate{
	font-size: 13px;
}

.hsnews{
	padding-right: 40px;
}
.chartlegend{
	position: relative;
	.arena{
		color: rgba(52, 152, 219,1.0);
		font-size: 40px;
		padding-left: 90px;
	}
	.con{
		color: rgba(155, 89, 182,1.0);
		font-size: 40px;
		padding-left: 34px;
	}
	.chartlabel{
		position: absolute;
		top: 4px;
	}
}
.graphtitle{
	padding-left: 9px;
}