// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.global{
	width: 360px;
	h2{
		margin-bottom: 0px;
	}
	.rankingtable{
		width: 180px;
		background-color: #f0f0f0;
		td{
			padding-left: 0;
			padding-right: 20px;
		}
	}
	.arena{
		float: left;
	}
	.con{
		float: right;
	}
}

.rssdate{
	font-size: 13px;
}