.entrytitle{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
form{
	font-family: 'Lato', sans-serif;
	.yourfield{
		float: left;
	}
	.oppfield{
		float: right;
	}
	label{
		font-size: 40px;
		font-weight: 400;
	}
}