.entrytitle{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
form{
	padding-top: 80px;
	font-family: 'Lato', sans-serif;
	.yourfield{
		float: left;
		margin-left: 100px;
	}
	.oppfield{
		float: right;
		margin-right: 100px;
		text-align: right;
	}
	.winfield{
		width: 290px;
		padding-top: 50px;
		display: block;
		margin: auto;
		.winbutton{
			width: 200px;
			height: 50px;
			font-size: 30px;
			-webkit-transition: background-color 200ms linear;
			-moz-transition: background-color 200ms linear;
			-o-transition: background-color 200ms linear;
			-ms-transition: background-color 200ms linear;
			transition: background-color 200ms linear;
		}
	}
	label{
		font-size: 40px;
		font-weight: 400;
		margin-bottom: 20px;
		display: block;
	}
	select {
		padding-left: 20px;
		border-radius: 0 !important;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: url('dropdown_arrow.png') no-repeat;  /*Adds background-image*/
		background-position: 82px 7px;  /*Position of the background-image*/
		width: 100px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/
		height: 80px;
		width: 250px;
		font-size: 45px;
		/*My custom style for fonts*/

		color: #1455a2;
	}
	.hidden{
		display: none;
	}
	.actions{
		width: 161px;
		margin: auto;
	}
}
.backbutton{
	margin: auto;
	width: 83px;
	background: rgb(223, 117, 20);
	color: white !important;
	display: inline-block;
}