footer{
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background: #2f2f2f;
	color: white;
	.footcontent{
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 1038px;
		a{
			padding-right: 50px;
			text-decoration: none;
			color: white !important;
		}
		a:hover{
			text-decoration: underline;
		}
	}
}