.headcontainer{
	background-color: rgba(47,47,47,1);
	.header{
		a{
			text-decoration: none;
			color: white;
			background-color: transparent;
		}
		margin-left: auto;
		margin-right: auto;
		width: 1038px;
		height: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: rgba(47,47,47,1);
		.lefttitle{
			float: left;
			color: white;
			font-weight: 300;
			font-family: 'Lato', sans-serif;
			.headtitle{
				position: fixed;
				font-size: 30px;
				top: 14px;
				padding-left: 15px;
			}
		}
		.rightnav{
			float: right;
			font-weight: 300;
			font-family: 'Lato', sans-serif;
			font-size: 18px;
			color: #999;
			display: inline-block;
			padding-top: 11px;
			a{
				color: white;
				text-decoration: none;
				background-color: transparent;
			}
		}
	}
}
