#arenagames {
	margin-top: 47px;
	border-collapse: collapse !important;
	border-spacing: 0;
	border-radius: 5px;
	th{
		font-size: 20px;
		height: 40px;
		background-color:  rgb(66, 184, 221);
		color: white;
	}
	tr th:first-child {
		-moz-radius-top-left-border: 5px;
		-webkit-radius-top-left-border: 5px;
		border-top-left-radius: 5px;
	}
	tr th:last-child {
		-moz-radius-top-right-border: 5px;
		-webkit-radius-top-right-border: 5px;
		border-top-right-radius: 5px;
	}

}
.arenaopp{
	margin-top: 30px;
}