// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profileheader{
	h1{
		display: inline-block;
		margin: 0;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.editprofile{
		display: inline-block;
		padding-left: 10px;
	}	
}

// Edit Profile
.edit_profile{
	padding-top: 0;
	.bnetid{
		font-size: 40px;
	}
	label{
		padding-top: 20px;
	}
	input[type="text"], input[type="number"]{ 
		padding: 20px 10px; 
		line-height: 28px; 
		font-size: 25px;
		margin-bottom: 20px;
	}
	input[type="number"]{
		width: 100px;
	}
	input[type=checkbox]
	{
	  visibility: hidden;
	}
	.coolcheckbox{
		width: 120px;
		height: 40px;
		background: #333;
		margin: 20px 0;
		border-radius: 50px;
		position: relative;
	}
	.coolcheckbox:before {
		content: '';
		position: absolute;
		top: 19px;
		left: 14px;
		height: 2px;
		width: 90px;
		background: #111;
	}
	.coolcheckbox label {
		display: block;
		padding-top: 0;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 9px;
		z-index: 1;
		left: 12px;
		background: #ddd;
	}
	.coolcheckbox input[type=checkbox]:checked + label {
		left: 84px;
		background: #26ca28;
	}
	.privlabel{
		display: inline-block;
		padding-bottom: 20px;
	}
	a{
		color: white !important;
		margin-right: 10px;
	}
}