// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profileheader{
	h1{
		display: inline-block;
		margin: 0;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.editprofile{
		display: inline-block;
		padding-left: 10px;
	}	
}

// Edit Profile
.edit_profile{
	padding-top: 0;
	label{
		padding-top: 20px;
	}
	input[type="text"]{ 
		padding: 20px 10px; line-height: 28px; 
		font-size: 25px;
	}
}