body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
  margin: auto;
  border: 3px #d35400 solid;
}

#error_explanation {
  margin: auto;
  width: 450px;
  border: 2px solid #e74c3c;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #7f8c8d;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #95a5a6;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.victory{
  color: #2ecc71;
}
.defeat{
  color: #e74c3c;
}