.select2-container .select2-choice{
  padding-top: 5px;
  height: 50px;
  overflow-y: auto;
  font-size: 40px;
  .select2-chosen{
  	height: 50px;
  }
}
#new_constructed{
	.select2-container .select2-choice{
	  padding-top: 0px;
	  height: 34px;
		overflow: hidden;
	  font-size: 14px;
	  .select2-chosen{
	  	height: 50px;
	  }
	}
}