// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.viewers{
  color: white !important;
}
.mix-details{
  max-width: 320px !important;
}

.streamer-badge{
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 10px;
  color: white;
}
.Offline{
  background-color: red;
}

.Online{
  background-color: #35aa47;
}
