// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Nov Report
.novreport{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #1E243C;
	padding-bottom: 50px;
	h2{
		padding-top: 40px;
		margin-top: 0;
		padding-bottom: 10px;
		color: white;
		font-size: 40px;
		line-height: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	}
	.splashpic{
	height: 700px;
	background: image-url('novbg.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	.scrolldowncont{
		background-color: #2ecc71;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		.scrolldown{
			font-size: 25px;
			width: 400px;
			text-align: center;
			margin: auto;
			color: white;
		}
	}
	.novcontent{
		.tableheader{
			width: 90%;
			margin: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 20px;
			text-align: center;
			font-size: 20px;
			color: white;
			background-color: #E64C65;
			-moz-border-radius: 0px;
			-webkit-border-radius: 5px 5px 0px 0px;
			border-radius: 5px 5px 0px 0px;
		}
		.rankingtable{
			width: 90%;
			margin: auto;
			margin-bottom: 20px;
			border-collapse: separate !important;
			border-spacing: 0;
			background-color: #394264;
			color: white;
		    -moz-border-radius: 0px 0px 5px 5px;
		    -webkit-border-radius: 0px 0px 5px 5px;
		    border-radius: 0px 0px 5px 5px;
			td{
				padding-left: 20px;
				font-size: 20px;
				font-weight: 300;
			}
		}
		.mptable{
			background-color: transparent;
			color: white;
			td{
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				font-size: 18px;
				padding-left: 0;
				width: 449px;
			}

		}
		.conmore, .arenamore {
			display: none;
		}
		.showcon, .showarena{
			margin: 10px 30px 0 30px;
			padding-top: 10px;
			border-top: 1px solid #E64C65;
			color: white;
			font-size: 20px;
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			cursor: pointer;
		}
		.overallcont{
			padding-bottom: 70px;
			.mptitle{
				margin-top: 10px;
				color: #11A8AB;
				font-size: 30px;
				font-weight: 400;
				text-align: center;
				padding-bottom: 30px;
				border-bottom: 1px solid white;
			}
			.mpfirst{
				font-size: 65px;
				padding-top: 30px;
				padding-left: 0px;
				color: #27ae60;
			}
			.mpsec{
				font-size: 50px;
				padding-top: 30px;
				padding-left: 0px;
				color: #bdc3c7;
			}
			.mpthird{
				font-size: 30px;
				padding-left: 0px;
				padding-top: 10px;
				color: #bdc3c7;
			}
		}
		.arenacont{
			padding-bottom: 40px;
			background-color: #3468AF;
			color: #E6E6E6;
			h2{
				display: inline-block;
				margin-bottom: 10px;
			}
			small{
				display: inline-block;
				padding-left: 20px;
				font-size: 20px;
				padding-bottom: 20px;
				color: #E6E6E6;
			}
			.arateentry{
				font-size: 18px;
				padding: 8px;
			}
		}
		.graphcont{
				display: inline-block;
				color: #E6E6E6;
				.arenagraph{
					padding: 20px;
					margin: auto;
				}
				.graphtitle{
					font-size: 30px;
					text-align: center;
				}
			}
		.concont{
			padding-bottom: 40px;
			background-color: #F1F1F1;
			padding-top: 3em;
			h2{
				color: #2c3e50;
				display: inline-block;
				margin-bottom: 10px;
			}
			small{
				display: inline-block;
				padding-left: 20px;
				font-size: 20px;
				padding-bottom: 20px;
			}
			.graphcont{
				.graphtitle{
					color: #2c3e50;
				}
			}
			.arateentry{
				font-size: 18px;
				padding: 8px;
			}
		}
		.addpadding{
			padding-left: 30px;
			padding-right: 30px;
		}
		.hsusers{
			background-color: #e67e22;
			.hscont{
				display: inline-block;
				text-align: center;
			}
			.hscontfirst{
				display: inline-block;
			}
			.hssimage{
				display: inline-block;
			}
			.hsscount{
				display: inline-block;
				font-size: 90px;
				margin-bottom: 42.5px;
				.iconlabel{
					padding-top: 10px;
					font-size: 45px;
					padding-bottom: 50px;
					text-align: center;
				}
			}
		}
		.joinus{
			border-top: 1px solid black;
			padding-top: 60px;
			padding-bottom: 50px;
			font-size: 70px;
			color: white;
			font-weight: 400;
			line-height: 1;
		}
		.joinsubtext{
			font-size: 25px;
			text-align: center;
		}
		.regcont{
			text-align: center;
			margin-top: 20px;
			padding-bottom: 100px;
			.regbutton{
				font-size: 30px;
				text-align: center;
			}
		}
		.reportover{
			background-color: transparent;
			.joinsubtext{
				color: #95a5a6;
			}
		}
	}
	.novfootercont{
		text-align: center;
		padding-top: 50px;
		color: white;
		.novfooter{
			display: inline-block;
			a{
				color: white;
				text-decoration: none;
				font-size: 20px;
			}
		}
	}
}
abbr{
	border-bottom: 1px dotted #111;
	cursor: help;
}
.center{
	text-align: center;
}