// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	a{
		-webkit-transition: all linear .2s,box-shadow linear .2s;
		-moz-transition: all linear .2s,box-shadow linear .2s;
		-o-transition: all linear .2s,box-shadow linear .2s;
		transition: all linear .2s,box-shadow linear .2s;
	}
	height: 100%;
	background: image-url('hearthstonebg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.sitename{
		font-size: 80px;
		padding: 40px;
		padding-top: 100px;
		width: 700px;
		margin: auto;
		color: white;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		text-align: center;
		letter-spacing: 10px;
	}
	.login{
		margin-top: 20px;
		color: white;
		input{
			margin: 5px auto 0px auto;
			width: 200px;
			display: block;
			height: 40px;
			background: transparent image-url('trans.png');
			color: white;
			border-radius: 0;
			font-size: 14px;
		}
		.rmbme{
			width: 200px;
			margin: auto;
			input{
				height: 12px;
				display: inline;
				width: 20px;
			}
		}
		::-webkit-input-placeholder {
			padding-left: 10px;
		    color: #ebe5da;
		    font-weight: bold;
		}

		:-moz-placeholder { /* Firefox 18- */
			padding-left: 10px;
		   color: #ebe5da;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
			padding-left: 10px;
		   color: #ebe5da;  
		}

		:-ms-input-placeholder {  
			padding-left: 10px;
		   color: #ebe5da;  
		}

		// Registration Page
		.reglabel{
			text-align: center;
			padding-bottom: 5px;
		}
		.backbuttonreg{
			margin: 0px auto 5px auto;
			width: 200px;
			display: block;
			height: 40px;
			align-items: flex-start;
			vertical-align: middle;
			text-align: center;
			cursor: default;
			color: buttontext;
			padding: 7px 6px 3px;
			border: 2px outset buttonface;
			border-image-source: initial;
			border-image-slice: initial;
			border-image-width: initial;
			border-image-outset: initial;
			border-image-repeat: initial;
			background: transparent url(/assets/trans.png);
			box-sizing: border-box;
			font-family: 'Lucida Grande';
			font-size: 11px;
			color: white;
			border-radius: 0;
			text-decoration: none;
		}
	}
	.loginadd{
		width: 300px;
		margin: auto;
		text-align: center;
		a {
			display: block;
			color: white;
			text-decoration: none;
		}
		a:hover{
			color: white;
			background-color: transparent;
		}
	}
}

.welcomeright{
	position: fixed;
	bottom: 0;
	right: 0;
}