- set_meta_tags :title => 'Edit Deck',
  :description => 'Edit Deck',
  :keywords => 'edit, deck, hearthstats, hearthstone, match, tracking, win, loss'
- provide(:title, 'Edit Deck')
- provide(:section, 'Decks')

= render 'form'


javascript:
	$(document).ready(function(){
		$('#decklink').bind('blur keyup', function(e){
			if(e.type === 'keyup' && e.keyCode !== 10 && e.keyCode !== 13) return;
			var link = $('#decklink').val();
			var linkarray = link.split('/');
			var linkvalue = linkarray[linkarray.length-1].split('-');
			var linkid = linkvalue.shift();
			$('#deck_name').val(linkvalue.join(" "));
			$('#deck_race').css("border", "3px solid red")
			linkarray.pop();
			linkarray[linkarray.length]=linkid;
			linkarray[linkarray.length]="export/4";
			console.log(linkarray);
			finaldecklink = linkarray.join('/');
			$('#deck_decklink').val(finaldecklink);
		});
	});