<% set_meta_tags :title => 'New Deck Entry',
  :description => 'New Deck Entry',
  :keywords => 'new, entry, deck, hearthstats, hearthstone, match, tracking, win, loss' %>

<div class="entrytitle">New deck</div>

<%= render 'form' %>
