<div class="footer">
    <div class="footer-inner">
      2013 &copy; HearthStats
    </div>
    <div class="footer-tools">
      <span class="go-top">
      <i class="fa fa-angle-up"></i>
      </span>
    </div>
  </div>
<!-- footer
  div.footcontent
    = link_to "Change Log", changelog_path
    = link_to "About Us", aboutus_path
    = link_to "Help", help_path
    = link_to "Contact Us", contactus_path
    = link_to "November Report", "/nov"
    -if !current_user.nil?
      - if current_user.id == 1
        =link_to "Admin", admin_index_path -->