<div class="footer">
    <div class="footer-inner">
    	<span class="footer-text">
      2013 &copy; HearthStats

    	</span>
			<ul class="social-icons footer-social">
				<li><a href="https://twitter.com/HearthStats" data-original-title="twitter" class="twitter"></a></li>
				<li><a href="https://www.facebook.com/HearthStats.net" data-original-title="facebook" class="facebook"></a></li>
				<li><a href="https://plus.google.com/108193002230555494327" data-original-title="Goole Plus" class="googleplus"></a></li>
			</ul>
    </div>
    <div class="footer-tools">
      <span class="go-top">
      <i class="fa fa-angle-up"></i>
      </span>
    </div>
  </div>