<li class="dropdown" id="header_locale_bar">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%=image_tag "country_flags/icon_#{I18n.locale}.png", width: '24px', class: 'locale-flag' %>  <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-alerts language-options">
    <% available_languages.each_pair do |k, v| %>
      <li class="language-option" >
        <%= link_to url_for(locale: k) do %>
          <div>
            <%=image_tag "country_flags/icon_#{k}.png", width: '24px' %> <%=v%>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
